.search{
    margin: 0;
    left: 27rem;
    top: 10rem;
    font-size: 2rem;
    text-align: left;
    padding: 5rem;
    padding-left: 0;
    z-index: 1;
}

.search input{  
    margin: 1rem 5%;
    width: 40rem;
    height: 3rem;
    border: rgb(181, 198, 196) solid 1px;
    outline: none;
}