.menu{
    display: inline;
    justify-content: center;

}
.menuContent{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    margin: 1rem;

    justify-content: center;
    justify-items: center;
}

#menuCard{
    background-color: rgb(198, 198, 198);
    padding: 0.5rem;
}
.menuGrid img{
    grid-column: 1/-1;
    height: 32rem;
    width: 100%;
    object-fit: cover;
}

#menuLink{
    display: grid;
    padding: 1rem;
    grid-column: 2/-2;
    text-align: center;
    font-size: 1.2vw;
    text-decoration: none;
    color: black;

}
