*{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    z-index: 1;
  }

  .bamboo{
    width: 100vw;
    position: fixed;
    top: -10rem;
    z-index: 0;
    opacity: 0.2;
  }

  .Climate {
    font-family: 'Helvetica Neue';
    width: 100vw;
  
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
  
    margin-top: 2rem;
    
    z-index: 1;
  }

.earthPicture{
      background-color: transparent;
      max-width: 100vw;
      padding: 6rem;
      display: grid;
      gap: 6rem;
      grid-auto-flow: column;
}

.by{
    background-color: rgba(35, 95, 67,0.5);
    border-radius: 50px;
}

.climateBody{
    margin: auto;
    max-width: 55vw;

      
    display: grid;
    gap: 1rem;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 6rem;

}    
  
.Climate h1{
    font-size: 9rem;
    padding-bottom: 2rem;
    margin: auto;
    text-align: center;
    width: 100vw;
    height: 20vh;
    background-color: rgb(35, 95, 67);
    color: white;
}    

.climateTop{
      height: 40vh;
      width: 70vw;
      margin-top: 30vh;
}      

.Climate h3{
    font-size: 3rem;
    font-style: italic;
    padding-bottom: 2rem;
    text-align: justify;
    color: rgb(35, 95, 67);
}    

.Climate h2{
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-top: -4rem;
    margin: auto;
    text-align: center;
    color: rgb(35, 95, 67);
}    

.ConP{
    padding-bottom: 1rem;
    padding: 1rem;
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, 0.8);
}    

.klimaCard{
    max-width: 55vw;
    padding: 6rem;
    border-radius: 20px;
}    

