*{
  font-size: 62.5%;
  padding: 0;
  margin: auto;
}

.App{

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100vw;
  min-height: 100%;

  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;

  background-color: rgb(240, 240, 240);
}



.fp-top{
  height: 20vw;
}

.fp-top h1{
  font-size: 7vw;
  text-align: center;
  padding-top: 4rem;
}

#fp-origami{
  position: fixed;
  width: 90vw;
  top: -1rem;
  z-index: 0;

}

.fp-menu{
  position: relative;
  width: 80vw;
  height: 100%;

  justify-content: center;
  align-items: center;
  padding-bottom: 20rem;
}

.fp-timeline{
  width: 100%;
  bottom: 0;
  z-index: 10;
}